/* For portfolio.htlm */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Фильтры-кнопки */

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filters-list .link {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.filters-list .link:hover,
.filters-list .link:focus {
  color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filters-list .link.current {
  background-color: var(--link-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* примеры работ - ссылки */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-description{
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-text {
  padding: 20px 24px;
  margin: 0;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list .portfolio-title {
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .portfolio-p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
